@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Noto+Serif+Makasar&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #873148  ;
  --secondary-color: #DE4B77;
  --accent1-color: #C1B2B6;
  --accent2-color: #99425D;
  --accent3-color:#9B6278;

  /* change the values below to your chosen font(s) */
  --heading-font: "Dancing Script";
  --paragraph-font: 'Noto Serif Makasar', Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #DE4B77;  /* headlines on a white background */ 
  --headline-color-on-color: #C1B2B6; /* headlines on a colored background */ 
  --paragraph-color-on-white: #DE4B77; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #C1B2B6; /* paragraph text on a colored background */ 
  --paragraph-background-color: #873148  ;
  --nav-link-color: #DE4B77;
  --nav-background-color: #873148;
  --nav-hover-link-color: #C1B2B6;
  --nav-hover-background-color: #9B6278;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
    font-family : var(--heading-font);
  }
  header > p{
    font-family : var(--heading-font);
    color: var(--headline-color-on-color);
    font-size:4em;
  }
  header, a{
    font-family: var(--paragraph-font);
    font-size: larger;
  }
  

.home-title{
    font-family: 'Dancing Script','Yaldevi';
    font-size: 54em;
    color:#C1B2B6 ;
    margin-top: 10px;
}
#logo {
    grid-column: 3;
    grid-row: 1;
    width: 250px;
    border-radius: 30%;
}
nav {
    text-align: center;
    color:white;
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}
nav a{
    color: #C1B2B6;
}
nav a:hover{
    background-color:#DE4B77;
    color: #C1B2B6;
    padding: 15px 30px;
    border-radius: 5px;
}
#hero-img{
    width: 100%; 
    height: 300px;
}
.home-grid{
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: 2fr auto;    
}
body {
    max-width: 100%;
    font-size: 18px;
    text-align: center;
  }

.clothes {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    margin:auto;
    border: 10px solid #DE4B77;
}

.text-clothes{
    --paragraph-font:'Yaldevi';
    font-size: larger;
    color: #DE4B77;
    margin-top: auto;
    margin-bottom: auto;
}  
.repair{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    margin:auto;
    border: 10px solid #DE4B77;
}   
.text-repair, p{
    --paragraph-font:'Yaldevi';
    font-size:larger;
    color: #DE4B77;
    margin-top: auto;
    margin-bottom: auto;
}
.service, p{
    --paragraph-font:'Yaldevi';
    font-size:larger;
    color: #DE4B77;
    margin: auto;
    
}
footer{
    background-color:#873148;
    color:#C1B2B6;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #C1B2B6;
    text-decoration: none;
}
footer a:hover{
    color: #C1B2B6;
    
}
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
    background-color:#DE4B77;
    padding: 15px 30px;
    border-radius: 5px;
}
footer .social img {
    padding-top: 15px;
}
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
