@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Noto+Serif+Makasar&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #124737 ;
  --secondary-color: #254D4D;
  --accent1-color: #D9DDDC;
  --accent2-color: #8B4FFB;
  --accent3-color:#FAFFFF;

  /* change the values below to your chosen font(s) */
  --heading-font: "Dancing Script";
  --paragraph-font: 'Noto Serif Makasar', Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #254D4D;  /* headlines on a white background */ 
  --headline-color-on-color: #8B4FFB; /* headlines on a colored background */ 
  --paragraph-color-on-white: #254D4D; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #C1B2B6; /* paragraph text on a colored background */ 
  --paragraph-background-color: #124737  ;
  --nav-link-color: #254D4D;
  --nav-background-color: #124737;
  --nav-hover-link-color: #8B4FFB;
  --nav-hover-background-color: #d9dddc;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
    font-family : var(--heading-font);
  }
  header > p{
    font-family : var(--heading-font);
    color: var(--headline-color-on-color);
    font-size:4em;
  }
  header, a{
    font-family: var(--paragraph-font);
    font-size: larger;
  }
  

.home-title{
    font-family: 'Dancing Script','Yaldevi';
    font-size: 54em;
    color:#d9dddc ;
    margin-top: 10px;
}
#logo {
    grid-column: 3;
    grid-row: 1;
    width: 250px;
    border-radius: 10%;
}
nav {
    text-align: center;
    color:#d9dddc;
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}
nav a{
    color: #d9dddc;
}
nav a:hover{
    background-color:#8B4FFB;
    color: #d9dddc;
    padding: 15px 30px;
    border-radius: 5px;
}
#hero-img{
    width: 100%; 
    height: 300px;
}
.home-grid{
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: 2fr auto;    
}
body {
    max-width: 100%;
    font-size: 18px;
    text-align: center;
  }

.clothes {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    margin:auto;
    border: 10px solid #8B4FFB;
}

.text-clothes{
    --paragraph-font:'Yaldevi';
    font-size: larger;
    color: #254D4D;
    margin-top: auto;
    margin-bottom: auto;
}  
.repair{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    margin:auto;
    border: 10px solid #8B4FFB;
}   
.text-repair, p{
    --paragraph-font:'Yaldevi';
    font-size:larger;
    color: #254D4D;
    margin-top: auto;
    margin-bottom: auto;
}
.service, p{
    --paragraph-font:'Yaldevi';
    font-size:xx-large;
    color: #254D4D;
    margin: auto;   
}
h2{
  color: #254D4D;
}
.directions{
  font-size:xx-large;
  display:grid;
  grid-column: 1/3;
  grid-row: 1/2;
  margin: auto;
}
.directions img{
  display: inline;
  margin-top: auto;
  margin-left: auto;
  width: 80px;
}
.location{
  display: block;
  margin: auto;
}
footer{
    background-color:#124737;
    color:#D9DDDC;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #D9DDDC;
    text-decoration: none;
}
footer a:hover{
    color: #d9dddc;
    
}
footer p {
  color: #D9DDDC;
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
    background-color:#254D4D;
    padding: 15px 30px;
    border-radius: 5px;
}
footer .social img {
    padding-top: 15px;
}
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  @media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
   .home-grid,p {
        margin-top: 0;
    }
    .text-clothes,.text-repair{
        margin: auto;
    }
    .home-title {
        font-size: 25px;
        color: #C1B2B6;
    }
    .card-img{ 
        margin: 50px auto;
        width: 60%;
    }
    .clothes{
      width: fit-content;
    }
    .repair{
      width: fit-content;
    }
    .location{
      margin: 25px;
      width: 18px;
    }
    #background {
        display: none;
    }
    
    footer {
        margin-top: 25px;
    }
}